name: Build and Containerize .NET Application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Set up .NET SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '5.0'

    - name: Build Docker image
      run: |
        cd src
        docker build --rm -f DevOpsChallenge.SalesApi/Dockerfile -t salesapi:${{ github.run_number }} .

    - name: Push Docker image to DockerHub (optional)
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
        docker push salesapi:${{ github.run_number }}